


# Ignore system files
Thumbs.db

# Ignore VS Code settings
.vscode/

# Ignore dependencies if using npm or yarn
node_modules/
package-lock.json
yarn.lock

# Ignore build files (if applicable)
dist/
build/

# Ignore environment variables (if any)
.env
.vscode/
*.log
*.dat
Desktop.ini
