
 body{
 
  background:linear-gradient( to bottom,#311F43,#013447 50% ,#383353);

  height: 100vh;
  width: 100%;

}



h2{

  font-family: serif ;

color: #ffff;
font-size: 70px;
letter-spacing:.7cm;
font-weight: 5;
margin-top: 150px;
margin-bottom: 10px
;

}

.sub-txt {
letter-spacing: 0.2cm;
font-size: 12px;
margin-left: 70px;
color:#ffff;
margin-top: 0px;
}

h2{
margin-left: 50px;
color: #ffff;

}




a {
color:#ffff;
margin-bottom: 20px;
font-family: 'Times New Roman', Times, serif;
letter-spacing:0.3cm;
font-size: 12px;

}

.container{
  display: grid;
place-items: center end;
 align-items: center;
height: 100;
margin: 0;
}

li {
  list-style: none;
  margin-left: -200%;
margin-bottom: -30%;
margin-top: -45%;
}

.abt{

 background:linear-gradient(to bottom,#311F43,#013447 50% ,#383353) ;
height: 300vh;
width:100%;
max-width: 1200px;
max-height:100vh;
}

#board{
margin-top: 0 auto;
height:40%;
width: 100%;
object-fit: cover;

}

#about, #prohead, #contact{
color: #ffff;
  text-align: center;
  letter-spacing: 0.7cm;
  font-family: 'Times New Roman', Times, serif;
  font-size:45px;
  

}

#about, #des {
display: grid;
place-items: center;
  color: #ffff;
  text-align: center;
}

#code{

height:10%;
width: 100%;
object-fit: cover;
opacity: 50%;
margin-top: 40px;
}

#about2{
color:#ffff;
text-align: center;
display: flex;
justify-content: flex-start;
height: 100vh;
}




